<!DOCTYPE html>
<html lang="fr" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10;http://blank.org/"/>
    <title>Comitup</title>
    <link rel="icon" href="img/favicon.ico">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="css/uikit.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-width-large uk-padding-small rounded-surface">
        <div class="uk-width-1-1 uk-text-center">
            <img src="img/milo.png" alt="Logo" class="logo">
            <p class="uk-text-large page-title">Connexion au Wi‑Fi en cours</p>
        </div>

        <div class="uk-margin">
            <div class="uk-width-1-1 uk-text-center">
                <p>
                    Connexion à {{ ssid }} en cours.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- JS FILES -->
<script src="js/uikit"></script>
<script src="js/uikit-icons"></script>
